@font-face {
  font-family: Eb_Garamond;
  src: url(./EBGaramond-Regular.ttf);
  font-family: Futura-Book;
  src: url(./Futura\ Book\ font.ttf);
}
:root{
  --backgroundBlack : #232323;
  --neutralGrey : #D9D9D9;
  --almostWhite : #EDEDED;
  --pinkLight : #FFD1F9;
  --pinkHighlight : #FF00DE; 
  font-family: Futura-Book;
  font-family: Eb_Garamond;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--backgroundBlack);
}
header{
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 3%;
  background-color: var(--backgroundBlack);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header > button{
  background-color: var(--backgroundBlack);
  border: none;
  color: var(--pinkLight);
  font-family: Futura-Book;
  font-size: 20px;
}
header > button:hover{
  cursor: pointer;
  color: var(--pinkHighlight);
}
.homePage{
  margin-top: 30px;
  width: 97vw;
  height: 97vh;
  border-radius: 30px;
  background-color: var(--almostWhite);
  margin-left: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.homePage > img{
  margin-top: 20px;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 477px;
  background: var(--pinkHighlight);
}
.homePage >h2 {
  width: 490px;
  color: var(--backgroundBlack);
  /* background: linear-gradient(0deg, rgba(255,0,222,1) 0%, rgba(255,209,249,1) 100%);
  -webkit-text-fill-color: transparent;
            -webkit-background-clip: text; */
  font-family: Futura-Book;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  margin-top: -10px;
}
.homePage > p{
  width: 90vw;
  color: var(--backgroundBlack);
  /* background: linear-gradient(90deg, rgba(255,0,222,1) 0%, rgba(255,209,249,1) 100%);
  -webkit-text-fill-color: transparent;
            -webkit-background-clip: text; */
  font-family: Eb_Garamond;
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  margin-top: -80px;
}
.social{
  display: flex;
}
.social > img{
  width: 50px;
}
.social > img:hover{
  cursor: pointer;
}
.experience{
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}
.jobContainer{
  width: 90vw;
  border-bottom: 1px solid var(--pinkHighlight);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.jobContainer > img{
  width: 100px;
  height: 100px;
  margin-right: 100px;
  background-color: var(--neutralGrey);
  border-radius: 100px;
  align-self: center;
}
.jobContainer > div{
  align-self: center;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jobContainer h4{
  color: var(--pinkLight);
  font-family: Futura-Book;
  font-size: 20px;
}
.jobContainer a{
  font-family: Futura-Book;
  font-size: 20px;
  color: var(--pinkLight);
  border-style: none;
  text-decoration: none;
}
.jobContainer a:hover{
  color: var(--pinkHighlight);
}
.jobContainer > ul{
  width: 200px;
  font-family: Eb_Garamond;
  font-size: 15px;
  list-style: none;
  color: var(--pinkLight);
}
.projects{
 
}
.layout1{
  display: none;
  width: 97vw;
  height: 97vh;
  border-radius: 30px;
  background-color: var(--almostWhite);
  display: grid;
  grid-template-rows: 150px 3fr;
  grid-template-areas:"title title"
                      "image parragraph"
                      "image parragraph";
  align-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 1.5%;
  margin-bottom: 10px;
}
.layout1 >h1 {
  display: grid;
  justify-content: center;
  grid-area: title;
  /* height: 118px; */
  color: var(--backgroundBlack);
  font-family: Futura-Book;
  font-size: 8vw;
  font-style: normal;
  font-weight: 500;
  line-height: 152%; 
}
.layout1 > img{
  grid-area: image;
  width: 35vw;
  margin-left: 30px;
}
.layout1 > p{
  grid-area: parragraph;
  width: 681px;
  /* height: 359px; */
  flex-shrink: 0;
  color: var(--backgroundBlack);
  font-family: Eb_Garamond;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 300;
  line-height: 167%; /* 66.8px */
}
.layout2{
  width: 97vw;
  height: 97vh;
  background-color: var(--almostWhite);
  border-radius: 30px;
  display: grid;
  grid-template-rows: 120px 100px 4fr;
  grid-template-areas: "title"
                       "parragraph"
                       "image";
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
  margin-left: 1.5%;
}
.layout2 > h1{
  color: var(--backgroundBlack);
  font-family: Futura-Book;
  font-size: 6vw;
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout2 > p{
  width: 1000px;
  color: var(--backgroundBlack);
  font-family: Eb_Garamond;
  font-size: 1.5vw;
  grid-area: parragraph;
}
.layout2 >img{
  width: 45vw;
  grid-area: image;
  margin-left:12%;
}
.layout2 >img:hover{
  cursor: pointer;
}
.layout3{
  width: 97vw;
  height: 100vh;
  background-color: var(--almostWhite);
  border-radius: 30px;
  display: grid;
  grid-template-areas: "img title"
                        "img parragraph";
  margin-left: 1.5%;
}
.layout3 >h1{
  grid-area: title;
  height: 4px;
  flex-shrink: 0;
  color: var(--backgroundBlack);
  font-family: Futura-Book;
  font-size: 5vw;
  margin-left: 5%;
  font-style: normal;
  font-weight: 500;
  line-height: 152%; /* 194.56px */
}
.layout3 >p{
  grid-area: parragraph;
  width: 50vw;
  color: var(--backgroundBlack);
  font-family: Eb_Garamond;
  font-size: 1.5vw;
  margin-left: 5%;
  font-style: normal;
  font-weight: 400;
  line-height: 134.5%; /* 53.8px */
}
.layout3 >img{
  grid-area: img;
  margin-left: 3%;
  margin-top: 2.5%;
  height: 95vh;
}
@media (max-width:1200px){
  .layout1 > p{
    width: 40vw;
    font-size: 2vw;
  }
  .layout1 > img{
    width: 50vw;
  }
  .layout2 > p{
    width: 95vw;
   font-size: 1.8vw;
  }
  .layout2 >img{
   width: 65vw;
  }
  .layout3 > p{
    width: 45vw;
    font-size: 2vw;
    margin-left: 5%;
  }
 }
@media (max-width:800px){
  header{
    height: 8%;
    display: flex;
    justify-content: space-around;
  }
  header > button{
    font-size: 5vw;
  }
  .layout1
  {
    margin-top: 70px;
    width: 99vw;
  }
  .homePage > h2{
    width: 80vw;
  }
  .homePage > p{
    width: 70vw;
    font-size: 4vw;
  }
  .layout1,
  .layout2,
  .layout3{
    display: grid;
    grid-template-areas: "title"
                        "img";
    margin-left: .5%;
    height: 70vh;
  }
  .layout1 >h1,
  .layout2 >h1,
  .layout3 >h1,{
    grid-area: title;
    margin:0 ;
  }
  .layout1 > p,
  .layout2 > p,
  .layout3 > p{
    display: none;
  }
  .layout1 > h1{
    margin-top: 50px;
  }
  .layout1 > img{
    grid-area: img;
    width: 97vw;
    margin:0;
    margin-left: 1%;
  }
  .layout2 >img{
    grid-area: img;
    width: 97vw;
    margin: 0;
    margin-top: 80%;
  }
  .layout3 >h1{
    margin: 0;
    margin-left: 20%;
  }
  .layout3 >img{
    margin-top: 7%;
    height: 60vh;
    grid-area: img;
    margin-left: 5%;
  }
  .experience{
    margin-top: 70px;
  }
}
